[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.5"
djangorestframework = "*"
pymysql = "*"
django-countries = "*"
requests = "*"
django-filter = "*"
django-seed = "*"
django-rest-auth = "*"
django-allauth = "*"
django-rest-framework-jwt = "*"
djangorestframework-jwt = "*"
corsheaders = "*"

[requires]
python_version = "3.8"
