{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyView</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- for icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.d354b8e958203bb65278.css"></head>
<body class="mat-typography">
1111
  <app-root></app-root>
<script src="runtime-es2015.1eba213af0b233498d9d.js" type="module"></script><script src="runtime-es5.1eba213af0b233498d9d.js" nomodule defer></script><script src="polyfills-es5.1fd9b76218eca8053895.js" nomodule defer></script><script src="polyfills-es2015.690002c25ea8557bb4b0.js" type="module"></script><script src="main-es2015.eb826b26570079d45d03.js" type="module"></script><script src="main-es5.eb826b26570079d45d03.js" nomodule defer></script></body>
<!--

inline.bundle.js : 웹팩 유틸리티가 포함된 Webpack loader
polifills.bundle.js : polyfil 의존성 모듈(core-js, zone.js)를 번들링한 파일
styles.bundle.js : 스타일 전의를 번들링한 파일
vendor.bundle.js : 의존성 모듈(@angular/*, RxJS 등)을 번들링한 파일
main.bundle.js : 개발자가 작성한 컴포넌트, 디렉티브, 서비스 등 소스코드를 번들링한 파일
-->
</html>